{#
/**
 * @file
 * Placeholder template file for fields that are loaded via JS.
 *
 * Variables available:
 * - field_cid': The cache ID of the field that is replaced by the placeholder.
 *   This ID allows the field to be fetched via an AJAX request.
 * - link_text': The text of the link that causes the AJAX request to fetch the
 *   field content.
 * - wrapper_id': The ID of the HTML element that encompasses the placeholder.
 *   When the field content is loaded via AJAX the wrapper is replaced by the
 *   field content.
 * - attributes': Attributes of the wrapper element. If an ID is specified, it
 *   will be replaced by wrapper_id.
 * - title': Title of the placeholder box.
 * - title_attributes': Attributes of the title.
 * - content': Text content of the placeholder box.
 * - content_attributes': Attributes of the content.
 */
#}

{%
  set classes = [
    'js-field-load-box',
    'js-field-load-box--placeholder',
  ]
%}
{%
  set link_attributes = create_attribute({
    'href': path('js_field_load.load_field', {'field_cid': field_cid, 'selector': '#' ~ wrapper_id}),
    'class': link_classes
  })
%}

<div{{ attributes.setAttribute('id', wrapper_id).addClass(classes) }}>
  {% if title %}
    <label{{ title_attributes }}>{{ title }}</label>
  {% endif %}
  <div{{ content_attributes }}>
    {{ content }}
    <a{{ link_attributes.addClass('use-ajax') }}>{{ link_text }}</a>
  </div>
</div>
