{#
/**
 * @file
 * Error template file for fields that are loaded via JS.
 *
 * Variables available:
 * - attributes: Attributes of the surrounding wrapper.
 * - title: Text for the title of the template.
 * - title_attributes: The title's attributes.
 * - content: The text or markup of the error message.
 * - content_attributes: Attributes of the <div>-container surrounding the
 *   content.
 */
#}

{%
  set classes = [
    'js-field-load-box',
    'js-field-load-box--error',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% if title %}
    <label{{ title_attributes }}>{{ title }}</label>
  {% endif %}
  <div{{ content_attributes }}>
    {{ content }}
  </div>
</div>
